html {
  font-size: 16px;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

a {
  display: block;
  text-decoration: none;
}

/* Header Section*/

header {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

header div {
  padding-left: 1.5rem;
  align-items: center;
}

header div img {
  height: 4rem;
}

header span {
  font-size: 2rem;
}

.academy {
  color: lightgray;
}

nav {
  padding-right: 1.5rem;
}

nav span {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
}

nav span a {
  transition: color 200ms ease-out;
}

nav span a:hover {
  color: red;
}

/* Gray container */
.gray {
  background-color: lightgray;
}

.container {
  display: flex;
}

.banner {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner img {
  width: 100%;
}

#learn {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  padding: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

#learn h1 {
  font-weight: bold;
  font-size: 3rem;
  opacity: 0.8;
}

#learn h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

#start {
  background-color: gray;
  text-align: center;
  width: 100%;
}

#start a {
  color: seashell;
  padding: 0.5rem;
  font-size: 1rem;
}

#start:hover {
  background-color: red;
}

/* Second Container left column */

.main-section {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-section img {
  width: 100%;
  height: auto;
}

#practice {
  text-align: left;
  padding-bottom: 2rem;
}

#practice h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

#attribution {
  margin: 2rem 0;
}

/* Second Container Right Column */

.info-cards {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  border-left: 1px solid lightgray;
  overflow: hidden;
}

.info-card img {
  width: 35%;
  height: auto;
}

.info-card {
  display: flex;
  padding: 1rem 0 1rem 1.5rem;

}

.card-content {
  display: block;
  margin: auto 0;
  padding-left: 1.5rem;
}

.card-content p {
  width: 100%;
  display: block;
}

.info-card:first-child {
  padding-top: 2rem;
}

.info-card:last-child {
  background-color: lightgray;
}

.info-card h4 {
  font-size: 1.5rem;
}

.info-card p, .read-more a {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.read-more a {
  color: #006989;
}
