html {
  font-size: 16px;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

a {
  display: block;
  text-decoration: none;
}

/* Header Section*/

header {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

header div {
  padding-left: 1.5rem;
  align-items: center;
}

header div img {
  height: 4rem;
}

header span {
  font-size: 2rem;
}

.academy {
  color: lightgray;
}

nav {
  padding-right: 1.5rem;
}

nav span {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
}

nav span a {
  transition: color 200ms ease-out;
}

nav span a:hover {
  color: red;
}

/* Gray container */
.gray {
  background-color: lightgray;
}

.container {
  display: flex;
}

.banner {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner img {
  width: 100%;
}

#learn {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  padding: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

#learn h1 {
  font-weight: bold;
  font-size: 3rem;
  opacity: 0.8;
}

#learn h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

#start {
  background-color: gray;
  text-align: center;
  width: 100%;
  transition: all 200ms ease-in;
}

#start a {
  color: seashell;
  padding: 0.5rem;
  font-size: 1rem;
}

#start:hover {
  background-color: red;
  letter-spacing:1.5px;
}

/* Second Container left column */

.second.container {
  margin-bottom: 2rem;
  width: 100%;
  max-height: auto;
  display: flex;
  justify-content: flex-start;
}
.main-section {
  max-width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;

}

.main-section img {
  width: 100%;
  height: auto;
}

#practice {
  text-align: left;
  padding-bottom: 2rem;
}

#practice h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

#attribution {
  margin: 2rem 0;
}

/* Second Container Right Column */

.info-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  width: 40%;
  overflow: hidden;
  height: auto;
  padding: 1rem;
  border-left: 1px solid lightgray;
}

.info-card img {
      display: flex;
      margin: 0;
      float: left;
      padding: 1rem;
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.card-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100%;
  width: 60%;
  margin: auto 0;
}

.card-content p {
  width: 100%;
  display: block;
}

.info-card:first-child {
  padding-top: 2rem;
}

.info-card:last-child {
  background-color: lightgray;
}

.info-card h4 {
  font-size: 1.5rem;
}

.info-card p, .read-more a {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.read-more a {
  color: #006989;
}

/* Course Section */

.services {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  align-items: flex-start;
  display: block;
  width: 100%;
  margin: auto 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
}

#thesis-title {
  padding-bottom: 2rem;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  margin: 0rem;
}

.course {
  display: inline-block;
  width: 25%;
  margin: 1rem;
  background-color: white;
  overflow: hidden;
  max-height: 18rem;
  transition: background-color 200ms ease-in;
  padding-bottom: 1.5rem;
}

.course:hover {
  background-color: red;
}

.course img {
  width: 100%;
  height: auto;
  display: block;
}

.course-text {
  display: inline-block;
  padding: 1rem;
}

.course-text h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#course-section {
  padding: 0.5rem 0 1rem 0;
}

/* Thesis Exhibit */

.thesis {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-height: auto;
  border-bottom: 1px solid lightgray;
  padding-bottom:2rem;
}

.main-section-thesis {
  display: block;
  position: relative;
  width: 55%;
  overflow: hidden;
  padding: 2rem 1.5rem 0 1.5rem;
  margin-right: 1rem;
}

.thesis video {
  margin: 0 1.5rem 0 1.5rem;
  border: 1px solid lightgray;
}

.text-descriptor {
  padding: 1rem;
  display: block;
}

.text-descriptor h2 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.text-descriptor p {
  margin-bottom: 2rem;
}

.modules {
  width: 40%;
  height: auto;
}

.text-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-content p {

}

.fisma {
  background-color: lightgray;
}

.fisma, .now {
  display: flex;
  width: 100%;
}

.modules img {
  padding: 1rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  display: flex;
}

footer div span {
  margin: 1rem;
}
